{% extends 'admin/base.html.twig' %}
{% block title 'Créer un Utilisateur | Gérer les Utilisateurs'%}

{% block body %}

<div class="container">
    <h2>Créer un Utilisateur</h2>
    {{ include ('admin/users/_form.html.twig', {form: form} )}}
</div>
  
{% endblock body %}