{% extends 'admin/base.html.twig' %}
{% block title 'Créer un Bloc | Gérer mes Blocs'%}

{% block body %}

<div class="container">
    <h2>Créer un Bloc</h2>
    {{ include ('admin/blocks/_form.html.twig', {form: form} )}}
</div>
  
{% endblock body %}