{% extends 'admin/base.html.twig' %}
{% block title 'Modifier une Catégorie | Gérer mes Catégories'%}

{% block body %}

<div class="container">
    <h2>Modifier une Catégorie</h2>
    {{ include ('admin/categories/_form.html.twig', {form: form} )}}
</div>
  
{% endblock body %}