{% extends 'base.html.twig' %}

{% block title 'Marchal Robin | Portfolio Développeur Web Full-Stack Paris'%}
{% block description 'Portfolio de Robin Marchal, futur Développeur Web Front-end / Back-end. Création de sites web et développement Web PhP, MySQL, JavaScript, HTML, CSS ainsi que développement mobile Android / Xamarin.' %}

{% block body %}
        

<section class="hero-warp ftco-home" style="background-image: url('http://localhost/monsite/public/asset/img/header/marchal-robin.png');">
    <div class="overlay"></div>
    <div class="container">
        <div class="row no-gutters align-items-center justify-content-center">
            <div class="col-sm-10 title ftco-animate text-center">
                <h1>Marchal robin</h1><br>
                <p>Développeur web et mobile</p>
            </div>
            <div class="down" id="box">
                <a href="#box">
                    <span></span>
                    <span></span>
                    <span></span>
                </a>
            </div>
        </div>
    </div>
</section>

<section id="presentation" class="pt-5">


    {% for block in blocks if block.category == presentation %}

        {% if block.type == content %}

        {# {% set counter = ( counter | default(0) ) + 1 %} #}

            {# {% if counter == 1 %} #}
                <div class="container py-2">
            {# {% endif %} #}

                    <div class="row ftco-animate py-2 my-2">
                        {{ block.contents | raw }}
                    </div>

            {# {% if counter == block | last %} #}
                </div>
            {# {% endif %} #}

        {% endif %}

        {% if block.type == parallax %}
            {{ block.contents | raw }}
        {% endif %}

    {% endfor %}
</section>


{% endblock body %}