{% extends 'base.html.twig' %}

{% block title 'Marchal Robin | Portfolio Développeur Web Full-Stack Paris'%}
{% block description 'Portfolio de Robin Marchal, futur Développeur Web Front-end / Back-end. Création de sites web et développement Web PhP, MySQL, JavaScript, HTML, CSS ainsi que développement mobile Android / Xamarin.' %}

{% block body %}
        

<section class="hero-warp-2" style="background-image: url('http://localhost/monsite/public/asset/img/header/competences.jpg');">
    <div class="overlay"></div>
    <div class="container">
        <div class="row no-gutters align-items-center justify-content-center">
            <div class="col-sm-10 title ftco-animate text-center">
                <h1>Mentions Légales</h1>
            </div>
        </div>
    </div>
</section>

<section class="pt-5">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h2>Éditeur du site</h2>

                <p>Propriétaire : Robin Marchal - 30 avenue de Paris 02400 Château Thierry</p>
                <p>Créateur : Robin Marchal - www.robin-marchal.eu</p>
                <p>Responsable publication : Robin Marchal</p>
                <p>Webmaster : Robin Marchal - robinmarchal02@gmail.com</p>
                <p>Hébergeur : OVH – 140 Quai du Sartel - 59100 Roubaix - France</p>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                
            </div>
        </div>
    </div>
</section>


{% endblock body %}