{% extends 'base.html.twig' %}

{% block title 'Marchal Robin | Portfolio Développeur Web Full-Stack Paris'%}
{% block description 'Portfolio de Robin Marchal, futur Développeur Web Front-end / Back-end. Création de sites web et développement Web PhP, MySQL, JavaScript, HTML, CSS ainsi que développement mobile Android / Xamarin.' %}

{% block body %}
<section class="hero-warp-2" style="background-image: url('http://localhost/monsite/public/asset/img/header/competences.jpg');">
    <div class="overlay"></div>
    <div class="container">
        <div class="row no-gutters align-items-center justify-content-center">
            <div class="col-sm-10 title ftco-animate text-center">
                <h1>404 Page not found</h1>
            </div>
        </div>
    </div>
</section>
<section>
    <div class="container">
        <div class="row">
            <div class="col-md-8 offset-md-2 text-center py-5">
                <h2>Error 404 Page introuvable</h2>
            <p>L'url demandée n'a pas pu être trouvée sur ce serveur, essayez d'orthographier l'url différemment ou retourner à l'index du site.</p>
            <a href="{{ path('index') }}" class="btn btn-fonce btn-small waves-effect waves-light">retour au site</a>
            </div>           
        </div>
    </div>
    
</section>
{% endblock body %}