{% extends 'admin/base.html.twig' %}
{% block title 'Créer un Type | Gérer les Types'%}

{% block body %}

<div class="container">
    <h2>Créer un Type</h2>
    {{ include ('admin/types/_form.html.twig', {form: form} )}}
</div>
  
{% endblock body %}